@model Person
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Add</h1>


<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Add Position</h3></div>
                    <div class="card-body">
                        <form method="post" action="/admin/Person/Add" enctype="multipart/form-data">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonFirstname">Firstname</label>
                                        <div class="w-50">
                                            <input asp-for="FirstName" type="text" class="form-control w-100" id="PersonFirstname" placeholder="Enter Fistname" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonLastname">Lastname</label>
                                        <div class="w-50">
                                            <input asp-for="LastName" type="text" class="form-control w-100" id="PersonLastname" placeholder="Enter Lastname" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonBirthDate">Birth date</label>
                                        <div class="w-50">
                                            <input asp-for="BirthDate" type="date" class="form-control w-100" id="PersonBirthDate" placeholder="Enter Birth date" />
                                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonAddress">Address</label>
                                        <div class="w-50">
                                            <input asp-for="Address" type="text" class="form-control w-100" id="PersonAddress" placeholder="Enter Address" />
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonEmail">Email</label>
                                        <div class="w-50">
                                            <input asp-for="Email" type="text" class="form-control w-100" id="PersonEmail" placeholder="Enter Email" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonWebSite">Website</label>
                                        <div class="w-50">
                                            <input asp-for="WebSite" type="text" class="form-control w-100" id="PersonWebSite" placeholder="Enter Website" />
                                            <span asp-validation-for="WebSite" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonDescription">Description</label>
                                        <div class="w-50">
                                            <input asp-for="Description" type="text" class="form-control w-100" id="PersonDescription" placeholder="Enter Description" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonProfilPath">Profile Path</label>
                                        <div class="w-50">
                                            <label asp-for="ImageFile" class="control-label"></label>
                                            <div class="w-100">
                                                <input asp-for="ImageFile" class="custom-file-input d-none" type="file" />
                                                <span asp-validation-for="ProfilPath" class="text-danger d-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonCvPath">CV Path</label>
                                        <div class="w-50">
                                            <label asp-for="CvFile" class="control-label"></label>
                                            <div class="w-100">
                                                <input asp-for="CvFile" class="custom-file-input d-none" type="file" />
                                                <span asp-validation-for="CvPath" class="text-danger d-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonPosition">Position</label>
                                        <div class="w-50">
                                            <select asp-for="PositionID" class="w-100 form-select">
                                                <option value="">Select position</option>
                                                @foreach (var position in ViewData["Positions"] as SelectList)
                                                {
                                                    <option value="@position.Value">@position.Text</option>
                                                }
                                            </select>
                                            <span asp-validation-for="PositionID" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 mb-0 d-flex justify-content-between">
                                <button type="submit" class="btn btn-success">Save</button>
                                <button type="submit" asp-area="Admin" asp-controller="Person" asp-action="Index" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
