@model Person
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>People</h1>


<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Add Position</h3></div>
                    <div class="card-body">
                        <form method="post" action="/admin/Person/Add" enctype="multipart/form-data">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonFirstname" class="w-100">Fistname</label>
                                        <input asp-for="FirstName" type="text" class="form-control w-50" id="PersonFirstname" placeholder="Enter Fistname" />
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonLastname" class="w-100">Lastname</label>
                                        <input asp-for="LastName" type="text" class="form-control w-50" id="PersonLastname" placeholder="Enter Lastname" />
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonBirthDate" class="w-100">Birth date</label>
                                        <input asp-for="BirthDate" type="date" class="form-control w-50" id="PersonBirthDate" placeholder="Enter Birth Date" />
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonAddress" class="w-100">Address</label>
                                        <input asp-for="Address" type="text" class="form-control w-50" id="PersonAddress" placeholder="Enter Address" />
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonEmail" class="w-100">Email</label>
                                        <input asp-for="Email" type="text" class="form-control w-50" id="PersonEmail" placeholder="Enter Email" />
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonWebSite" class="w-100">Website</label>
                                        <input asp-for="WebSite" type="text" class="form-control w-50" id="PersonWebSite" placeholder="Enter Website URL" />
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonDescription" class="w-100">Description</label>
                                        <input asp-for="Description" type="text" class="form-control w-50" id="PersonDescription" placeholder="Enter Desccription" />
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonProfilPath" class="w-100">Profile Path</label>
                                        <div class="col-md-3 form-group">
                                            <label asp-for="ImageFile" class="control-label"></label>
                                            <input asp-for="ImageFile" class="custom-file-input" type="file"/>
                                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonCvPath" class="w-100">CV Path</label>
                                        <input asp-for="CvFile" type="file" class="form-control w-50" id="PersonCvPath" placeholder="Select Your CV" />
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="PersonPosition" class="w-100">Position</label>
                                        <select asp-for="Position.ID" class="w-50 form-select">
                                            <option value="">Select position</option>
                                            @foreach (var position in ViewData["Positions"] as SelectList)
                                            {
                                                <option value="@position.Value">@position.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 mb-0">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
